.body-bg{
  background-color: #138386 !important;
  background-image: url('https://app.homehealthcare.tech/media/logos/inicio.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.color-bg{
  color: #986923 !important;
}

.bg-image{
  background-image: url('https://app.homehealthcare.tech/media/logos/inicio.png');
}


